body {
  font-family: Roboto;
}

.state {
  fill: none;
  stroke: black;
}

.airport {
  fill-opacity: 0.6;
}

.airport.early {
  fill: green;
}

.airport.late {
  fill: red;
}

.airport.on-time {
  fill: orange;
}
