body {
  font-family: Roboto;
}

.label, .airline-label {
  fill: black;
}

.state {
  fill: none;
  stroke: black;
}

.airport {
  fill-opacity: 0.6;
}

.airport.early {
  fill: #2ca02c;
}

.airport.late {
  fill: #d62728;
}

.airport.on-time {
  fill: #ff7f0e;
}
